<!DOCTYPE html>
<html lang="zh-Hans-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
    <link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/fonts/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/index_style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!--    <div id="menu" class="hover_animation menu_open" data-mark="false">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--    </div>-->
<!--    <div id="navgation" class="navgation navgation_close">-->
<!--        <ul class="point">-->
<!--            <li><a href="#">首页</a></li>-->
<!--            <li><a th:href="@{/index}">博客</a></li>-->
<!--            <li><a href="message.html">留言</a></li>-->
<!--        </ul>-->
<!--        <div class="logo"><a>Mr.song</a></div>-->
<!--    </div>-->
    <div class="section" id="section1">
        <div class="fp-tablecell">
            <div class="page1">
                <div class="nav wow zoomIn" data-wow-duration="2s">
                    <h1>小千百</h1>
                    <p>迷茫时，坚定地对自己说，当时的梦想，我还记得。</p>
                    <a class="layui-btn layui-btn-normal" style="margin-top: 20px" th:href="@{/index}">进入博客</a>
                </div>
                <a class="next wow fadeInUp" data-wow-duration="2s" id="next"></a>
            </div>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="fp-tablecell">
            <div class="page2">
                <div class="warp-box">
                    <div class="new-article">
                        <div class="inner wow fadeInDown" data-wow-delay=".2s">
                            <h1>热门文章</h1>
                            <p>
                                留下你的足迹
                                <br>互相帮助，共同成长
                            </p>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4  wow fadeInUp" th:each="blog : ${blogList}" style="padding: 0 10px">
                            <div class="single-news">
                                <div class="news-head">
                                    <img th:src="@{${blog.firstPicture}}">
                                    <a th:href="@{'/getBlogById/' + ${blog.id}}" class="link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="news-content">
                                    <h4>
                                        <a th:href="@{'/getBlogById/' + ${blog.id}}">
                                            [[${blog.title}]]
                                        </a>
                                    </h4>
                                    <div class="date">
                                        [[${#dates.format(blog.createTime,'yyyy-MM-dd')}]]
                                    </div>
                                    <p>
                                        [[${blog.content}]]
                                    </p>
                                    <a th:href="@{'/getBlogById/' + ${blog.id}}" class="btn">
                                        阅读更多 
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="section3">
        <div class="fp-tablecell">
            <div class="page3">
                <div class="warp-box">
                    <div class="warp">
                        <div class="inner">
                            <div class="links">
                                <ul>
                                    <li class="wow fadeInLeft"><a th:href="@{/aboutCommunity}">关于</a></li>
                                    <li class="wow fadeInRight"><a href="#">+友情链接</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="section4">
        <div class="fp-tablecell">
            <div class="page4">
                <div class="warp-box">
                    <div class="about">
                        <div class="inner">
                            <h1 class="wow fadeInLeft">憨憨使者</h1>
                            <p class="wow fadeInRight">
                                爱好篮球，动漫。从未在变秃的道路上停下来，撸起代码就会废寝忘食。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer wow fadeInUp" id="contact">
        <div class="footer-top">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget about">
                            <div class="footer-logo">
                                <h2>宋宋</h2>
                            </div>
                            <p>相信自己有能力，那么你就真的会有。</p>
                            <div class="button">
                                <a th:href="@{/aboutMe}" class="btn layui-btn layui-btn-normal">About Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget">
                            <h2>相关链接</h2>
                            <ul class="social-icon">
                                <li class="active"><a th:href="@{/index}"><i class="fa fa-book"></i>博文</a></li>
                                <li class="active"><a href="#"><i class="fa fa-share"></i>资源</a></li>
                                <li class="active"><a th:href="@{/archives/archivesPage}"><i class="fa fa-files-o"></i>归档</a></li>
                            </ul>                   
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                        <div class="single-widget contact">
                            <h2>联系我</h2>
                            <ul class="list">
                                <li><i class="fa fa-weixin"></i>Wechat: D17837751585</li>
                                <li><i class="fa fa-qq"></i>QQ: 2224264747 </li>
                                <li><i class="fa fa-envelope"></i>邮箱: 2224264747@qq.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 text-center">
                        <p>Copyright &copy; 2021-2021 srgstart All Rights Reserved V.3.1.5 豫ICP备2021009487号</p>
                    </div>
                </div>
            </div>
        </div>  
    </footer>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{js/wow.min.js}"></script>
    <script th:src="@{js/index.js}"></script>
</body>
</html>